/bootstrap/compiled.php
/vendor
composer.lock

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

/node_modules
/js/libs
/public/css/*
!/public/css/.gitkeep
